[submodule "src/extern/genieutils"]
	path = src/extern/genieutils
	url = https://github.com/sandsmark/genieutils.git
[submodule "src/extern/geniedoc"]
	path = doc/geniedoc
	url = https://github.com/aap/geniedoc.git
[submodule "src/extern/miniaudio"]
	path = src/extern/miniaudio
	url = https://github.com/dr-soft/miniaudio.git
[submodule "src/extern/tinysoundfont"]
	path = src/extern/tinysoundfont
	url = https://github.com/schellingb/TinySoundFont.git
