[submodule "extern/genieutils"]
	path = extern/genieutils
	url = https://github.com/sandsmark/genieutils.git
[submodule "extern/geniedoc"]
	path = extern/geniedoc
	url = https://github.com/aap/geniedoc.git
[submodule "extern/pcrio"]
	path = extern/pcrio
	url = https://github.com/sandsmark/pcrio.git
